@tailwind base;
@tailwind components;
@tailwind utilities;

[type="radio"]:checked {
  background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg viewBox="0 0 16 16" fill="%23fff" xmlns="http://www.w3.org/2000/svg"%3E%3Ccircle cx="8" cy="8" r="3"/%3E%3C/svg%3E');
  background-size: 2em 2em;
}

[type="radio"]:checked {
  background-position: 50%;
  background-repeat: no-repeat;
  justify-content: flex-start;
  align-items: self-start;
}
